html, body{
	margin: 0;  
    padding: auto;
}

.header {
    display: flex;
    padding: 0 12px 12px 12px;
    background-color: #800000;
    margin: auto;
    height: 100px;
    width: 50%;
}

.site_name {
    color: #F2E8C6;
}

.menu a {
    color: #F2E8C6;
    text-decoration: none;
}

.songsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-left: 25%;
    width: 55%;
}

.song {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 24px;
}

.song_image {
    height: 190px;
    width: 190px;
}

.song_image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.player {
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    background-color: #800000;
    height: 100px;
    width: 55%;
}



.player__cover_img {
    border-radius: 4px;
    height: 100px;
    width: 100px;
}

.player__info_text {
    margin: 0;
    padding: 0;

}

.player__info {
    padding-left: 10px;
    padding-right: 10px;
    margin: left;
    text-align: left;
    color: #F2E8C6;
    position: relative;
    padding-bottom: -10px;
}