html, body{
	margin: 0;  
    padding: auto;
    justify-content: center;
}

.color {
    color: #F2E8C6;
}

.header {
    display: flex;
    padding: 0 12px 12px 12px;
    background-color: #800000;
    margin: auto;
    height: 100px;
    width: 50%;
}

.site_name {
    color: #F2E8C6;
}

.menu a {
    color: #F2E8C6;
    text-decoration: none;
}

.songsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-left: 25%;
    width: 55%;
}

.song {
    width: 190px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    margin-right: 24px;
    overflow-wrap: break-word; /* Переносит длинные слова */
    word-wrap: break-word; /* Поддержка для более старых браузеров */
    word-break: break-all; /* Позволяет разбивать длинные слова */
    white-space: normal; /* Позволяет переносу текста */
    cursor: pointer;
    transition: transform 0.5s ease, background-color 0.5s ease, border-radius 0.5s ease;
    
}

.song:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Более глубокая тень при наведении */
    border-radius: 5px;
    background-color: #800000;
    color: #F2E8C6;
} 

.song_image {
    height: 190px;
    width: 190px;
}

.song_image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.player {
    border-radius: 4px;
    position: fixed;
    bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Размещение элементов по краям */
    box-sizing: border-box;
    flex-direction: row;
    padding-right: 10px;
    background: rgba(128,0,0,0.7);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    height: 100px;
    width: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.player__info {
    display: flex;
    justify-content: center; /* Центровка по горизонтали */
    align-items: center; /* Центровка по вертикали */
    text-align: center;
    margin-right: auto;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: left;
    color: #F2E8C6;
}


.player__cover_img {
    object-fit: cover;
    padding-right: 10px;
    border-radius: 4px;
    height: 100px;
    width: 100px;
}

.player__info_text {
    display: flex;
    flex-direction: column;
    box-sizing:content-box;
}


.player__control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.player__control button, input{
    cursor: pointer;
}

.player__control__buttons {
    display: flex;
    padding: 5px;
    transition: transform 0.3s ease;
}

.player__control__buttons button:hover {
    transform: scale(1.1);
}

.player__control__duration {
    display: flex;
    flex-direction: row;
}

.player__control__volume {
    display: flex;
}
