
.songsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-left: 25%;
    width: 55%;
}

.song {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 24px;
}

.song_image {
    height: 180px;
    width: 120px;
}

.song_image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}